nav {
    background-color: #333;
    height: 60px;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 8px;
}

.logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #ff6b6b;
}

.image-container {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.image-container img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}


.image-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-container {
    text-align: left;
    margin: 80px 0 30px 20px;
}

#searchInput {
    width: 250px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    font-size: 16px;
    transition: 0.3s;
}


#searchInput:focus {
    background-color: #e0e0e0;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: #ff6b6b;
}

@media (max-width: 500px) {
    #searchInput {
        width: 180px;
    }

    button {
        padding: 8px 12px;
    }
}

.hello-text {
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.breed-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}