nav {
    background-color: #333;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    position: absolute;
    left: 20px;
    top: 8px;
    z-index: 1;
}

.logo-img {
    height: 70px;
    width: auto;
    object-fit: contain;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #ff6b6b;
}

#theme-button {
    margin-left: auto;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#searchInput {
    width: 250px;
    padding: 10px 15px;
    margin: 30px 0 30px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    font-size: 16px;
    transition: 0.3s;
}

#searchInput:focus {
    background-color: #e0e0e0;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: #ff6b6b;
}

@media (max-width: 500px) {
    #searchInput {
        width: 180px;
    }

    button {
        padding: 8px 12px;
    }
}

body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode nav {
    background-color: #1e1e1e;
}

.dark-mode a {
    color: white;
}

.hello-text {
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.breed-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.main-section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 65px;
}

.image-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 600px;
    margin-left: 85px;
}

.card {
    text-align: center;
    margin-bottom: 10px;
}

.image-container2 img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.sub-text {
    margin-top: 5px;
    font-weight: bold;
}

.focused-card img {
    width: 220px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image-container {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.image-container img {
    width: 500px;
    border-radius: 10px;
}

.overlay img:hover {
    transform: none !important;
}

#fun-fact-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 7px;
    z-index: 1000;
}

.hidden {
    display: none;
}

#dog-detail {
    align-items: center;
    gap: 40px;
    padding: 40px;
}

#dog-detail img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.dog-info {
    max-width: 400px;
}

.dog-info h2 {
    margin-bottom: 10px;
}

.back-btn {
    position: absolute;
    top: 175px;
    left: 47px;

    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #ff6b6b;
}